USE [Tarea3];
GO
/****** Object:  StoredProcedure [dbo].[SP_GenerarFacturas]    Script Date: 27/11/2025 11:52:20 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE [dbo].[SP_GenerarFacturas]
    @FechaOperacion DATE
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        ---------------------------------------------------------
        -- 0. Parámetros del sistema
        ---------------------------------------------------------
        DECLARE 
            @DiaLimitePago  INT,
            @DiaLimiteCorte INT;

        SELECT
            @DiaLimitePago = PS.ValorInt
        FROM dbo.ParametrosSistema AS PS
        WHERE PS.Nombre = 'DiasLimitePago';

        SELECT
            @DiaLimiteCorte = PS.ValorInt
        FROM dbo.ParametrosSistema AS PS
        WHERE PS.Nombre = 'DiasLimiteCorte';

        IF @DiaLimitePago IS NULL
           OR @DiaLimiteCorte IS NULL
        BEGIN
            RAISERROR(
                'Faltan parámetros DiasLimitePago / DiasLimiteCorte en ParametrosSistema.',
                16,
                1
            );
            RETURN;
        END;

        ---------------------------------------------------------
        -- 1. Determinar propiedades que facturan hoy
        ---------------------------------------------------------
        IF OBJECT_ID('tempdb..#PropsHoy') IS NOT NULL
        BEGIN
            DROP TABLE #PropsHoy;
        END;

        ;WITH Props AS (
            SELECT 
                P.PropiedadId,
                DAY(P.FechaRegistro)           AS DiaRegistro,
                DAY(@FechaOperacion)           AS DiaOp,
                DAY(EOMONTH(@FechaOperacion))  AS DiaFinMes
            FROM dbo.Propiedad AS P
            -- Opcional: si solo facturas propiedades con medidor
            -- WHERE P.MedidorId IS NOT NULL
        )
        SELECT
            PR.PropiedadId
        INTO #PropsHoy
        FROM Props AS PR
        WHERE
            PR.DiaRegistro = PR.DiaOp
            OR (PR.DiaRegistro = 31 AND PR.DiaOp = PR.DiaFinMes);

        ---------------------------------------------------------
        -- 2. Variables
        ---------------------------------------------------------
        DECLARE 
            @PropiedadId    INT,
            @CCId           INT,
            @Monto          DECIMAL(18,2),
            @FacturaId      INT;

        ---------------------------------------------------------
        -- 3. Cursor principal de propiedades
        ---------------------------------------------------------
        DECLARE C CURSOR LOCAL FOR
            SELECT
                PH.PropiedadId
            FROM #PropsHoy AS PH;

        OPEN C;

        FETCH NEXT FROM C
        INTO @PropiedadId;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -----------------------------------------------------
            -- 4. Evitar facturar dos veces la misma propiedad 
            --    en el mismo mes/año
            -----------------------------------------------------
            IF EXISTS (
                SELECT
                    1
                FROM dbo.Factura AS F
                WHERE F.PropiedadId       = @PropiedadId
                  AND YEAR(F.FechaFactura) = YEAR(@FechaOperacion)
                  AND MONTH(F.FechaFactura) = MONTH(@FechaOperacion)
            )
            BEGIN
                -- Ya existe factura de este mes -> saltar
                FETCH NEXT FROM C
                INTO @PropiedadId;
                CONTINUE;
            END;

            -----------------------------------------------------
            -- 5. Verificar si la propiedad tiene CC activos
            -----------------------------------------------------
            IF NOT EXISTS (
                SELECT
                    1
                FROM dbo.PropiedadCC AS PC
                WHERE PC.PropiedadId = @PropiedadId
                  AND PC.FechaFin    IS NULL
                  AND PC.Activo      = 1
            )
            BEGIN
                -- No facturar propiedades sin CC activos
                FETCH NEXT FROM C
                INTO @PropiedadId;
                CONTINUE;
            END;

            -----------------------------------------------------
            -- 6. Crear factura base
            -----------------------------------------------------
            INSERT INTO dbo.Factura (
                PropiedadId,
                FechaFactura,
                FechaLimitePago,
                FechaLimiteCorte,
                Estado,
                TotalAPagarOriginal,
                TotalAPagarFinal
            )
            VALUES (
                @PropiedadId,
                @FechaOperacion,
                DATEADD(DAY, @DiaLimitePago,  @FechaOperacion),
                DATEADD(DAY, @DiaLimiteCorte, @FechaOperacion),
                1,       -- Pendiente
                0,
                0
            );

            SET @FacturaId = SCOPE_IDENTITY();

            -----------------------------------------------------
            -- 7. Cursor para CC activos de la propiedad
            -----------------------------------------------------
            DECLARE C2 CURSOR LOCAL FOR
                SELECT
                    CC.CCId
                FROM dbo.PropiedadCC AS PC
                INNER JOIN dbo.ConceptoCobro AS CC
                    ON CC.CCId = PC.CCId
                WHERE PC.PropiedadId = @PropiedadId
                  AND PC.FechaFin    IS NULL
                  AND PC.Activo      = 1;

            OPEN C2;

            FETCH NEXT FROM C2
            INTO @CCId;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                DECLARE 
                    @M2              DECIMAL(18,2),
                    @ValorProp       DECIMAL(18,2),
                    @SaldoM3         DECIMAL(18,2),
                    @UltimaFacturaM3 DECIMAL(18,2);

                SELECT 
                    @M2              = P.MetrosCuadrados,
                    @ValorProp       = P.ValorFiscal,
                    @SaldoM3         = M.SaldoM3,
                    @UltimaFacturaM3 = P.SaldoM3UltimaFactura
                FROM dbo.Propiedad AS P
                INNER JOIN dbo.Medidor AS M
                    ON M.MedidorId = P.MedidorId
                WHERE P.PropiedadId = @PropiedadId;

                -------------------------------------------------
                -- Info del Concepto de Cobro
                -------------------------------------------------
                DECLARE 
                    @ValorMinimo     DECIMAL(18,2),
                    @ValorMinimoM3   DECIMAL(18,2),
                    @ValorFijoM3     DECIMAL(18,2),
                    @ValorPorcentual DECIMAL(18,5),
                    @ValorFijo       DECIMAL(18,2),
                    @ValorM2Min      DECIMAL(18,2),
                    @ValorTractoM2   DECIMAL(18,2);

                SELECT 
                    @ValorMinimo     = CC.ValorMinimo,
                    @ValorMinimoM3   = CC.ValorMinimoM3,
                    @ValorFijoM3     = CC.ValorFijoM3Adicional,
                    @ValorPorcentual = CC.ValorPorcentual,
                    @ValorFijo       = CC.ValorFijo,
                    @ValorM2Min      = CC.ValorM2Minimo,
                    @ValorTractoM2   = CC.ValorTractosM2
                FROM dbo.ConceptoCobro AS CC
                WHERE CC.CCId = @CCId;

                SET @Monto = 0;

                -------------------------------------------------
                -- 8. Cálculos por tipo de CC
                -------------------------------------------------
                IF @CCId = 1 -- Agua
                BEGIN
                    DECLARE @Consumo DECIMAL(18,2);

                    -- Si es la primera factura y SaldoM3UltimaFactura es NULL,
                    -- tomamos todo el saldo como consumo.
                    SET @Consumo = @SaldoM3 - ISNULL(@UltimaFacturaM3, 0);

                    IF @Consumo <= @ValorMinimoM3
                    BEGIN
                        SET @Monto = @ValorMinimo;
                    END;
                    ELSE
                    BEGIN
                        SET @Monto = @Consumo * @ValorFijoM3;
                    END;

                    UPDATE dbo.Propiedad
                    SET SaldoM3UltimaFactura = @SaldoM3
                    WHERE PropiedadId = @PropiedadId;
                END
                ELSE IF @CCId = 2 -- Impuesto
                BEGIN
                    SET @Monto = (@ValorProp * @ValorPorcentual) / 12.0;
                END
                ELSE IF @CCId = 3 -- Basura
                BEGIN
                    IF @M2 < @ValorM2Min
                    BEGIN
                        SET @Monto = @ValorMinimo;
                    END;
                    ELSE
                    BEGIN
                        SET @Monto = @ValorMinimo
                                    + (
                                        CEILING(
                                            (@M2 - @ValorM2Min)
                                            / NULLIF(@ValorTractoM2, 0)
                                        ) * @ValorMinimo
                                      );
                    END;
                END
                ELSE IF @CCId = 4 -- Patente
                BEGIN
                    SET @Monto = @ValorPorcentual * @ValorProp / 12.0;
                END
                ELSE IF @CCId = 5 -- Reconexión
                BEGIN
                    SET @Monto = @ValorFijo;
                END
                ELSE
                BEGIN
                    SET @Monto = COALESCE(@ValorFijo, 0);
                END;

                INSERT INTO dbo.FacturaDetalle (
                    FacturaId,
                    CCId,
                    Monto
                )
                VALUES (
                    @FacturaId,
                    @CCId,
                    @Monto
                );

                FETCH NEXT FROM C2
                INTO @CCId;
            END;

            CLOSE C2;
            DEALLOCATE C2;

            -----------------------------------------------------
            -- 9. Totalizar factura
            -----------------------------------------------------
            UPDATE F
            SET F.TotalAPagarOriginal = (
                    SELECT SUM(FD.Monto)
                    FROM dbo.FacturaDetalle AS FD
                    WHERE FD.FacturaId = @FacturaId
                ),
                F.TotalAPagarFinal    = (
                    SELECT SUM(FD.Monto)
                    FROM dbo.FacturaDetalle AS FD
                    WHERE FD.FacturaId = @FacturaId
                )
            FROM dbo.Factura AS F
            WHERE F.FacturaId = @FacturaId;

            FETCH NEXT FROM C
            INTO @PropiedadId;
        END;

        CLOSE C;
        DEALLOCATE C;

        IF OBJECT_ID('tempdb..#PropsHoy') IS NOT NULL
        BEGIN
            DROP TABLE #PropsHoy;
        END;

        SET NOCOUNT OFF;
    END TRY
    BEGIN CATCH
        -- Cerrar cursores si siguen vivos
        IF CURSOR_STATUS('local', 'C') >= 0
        BEGIN
            CLOSE C;
            DEALLOCATE C;
        END;

        IF CURSOR_STATUS('local', 'C2') >= 0
        BEGIN
            CLOSE C2;
            DEALLOCATE C2;
        END;

        IF OBJECT_ID('tempdb..#PropsHoy') IS NOT NULL
        BEGIN
            DROP TABLE #PropsHoy;
        END;

        DECLARE
            @ErrorNumber    INT,
            @ErrorSeverity  INT,
            @ErrorState     INT,
            @ErrorMessage   NVARCHAR(4000),
            @ErrorProcedure NVARCHAR(128),
            @ErrorLine      INT;

        SELECT
            @ErrorNumber    = ERROR_NUMBER(),
            @ErrorSeverity  = ERROR_SEVERITY(),
            @ErrorState     = ERROR_STATE(),
            @ErrorMessage   = ERROR_MESSAGE(),
            @ErrorProcedure = ERROR_PROCEDURE(),
            @ErrorLine      = ERROR_LINE();

        SET NOCOUNT OFF;

        ;THROW @ErrorNumber, @ErrorMessage, @ErrorState;
    END CATCH;
END;
GO
