USE [Tarea3];
GO
/****** Object:  StoredProcedure [dbo].[SP_GenerarOrdenesCorte]    Script Date: 27/11/2025 11:52:56 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE [dbo].[SP_GenerarOrdenesCorte]
    @FechaOperacion DATE
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        DECLARE
            @CCAguaId       INT = 1,   -- CC de Agua
            @CCReconexionId INT = 5;   -- CC de Reconexión

        /* ============================================================
           1. Propiedades con CC de AGUA activo y facturas vencidas
           ============================================================ */
        IF OBJECT_ID('tempdb..#Pendientes') IS NOT NULL
        BEGIN
            DROP TABLE #Pendientes;
        END;

        ;WITH PropsAgua AS (
            SELECT DISTINCT
                PC.PropiedadId
            FROM dbo.PropiedadCC AS PC
            WHERE PC.CCId     = @CCAguaId
              AND PC.FechaFin IS NULL
              AND PC.Activo   = 1
        ),
        FacturasVencidas AS (
            SELECT 
                F.FacturaId,
                F.PropiedadId,
                F.FechaLimitePago,
                F.FechaLimiteCorte,
                F.TotalAPagarFinal
            FROM dbo.Factura AS F
            INNER JOIN PropsAgua AS PA
                ON PA.PropiedadId = F.PropiedadId
            WHERE F.Estado = 1
              AND @FechaOperacion > F.FechaLimiteCorte
        ),
        -- Elegimos SOLO UNA factura por propiedad (la más vieja)
        FacturasPorPropiedad AS (
            SELECT 
                FV.FacturaId,
                FV.PropiedadId,
                FV.FechaLimitePago,
                FV.FechaLimiteCorte,
                FV.TotalAPagarFinal,
                ROW_NUMBER() OVER (
                    PARTITION BY FV.PropiedadId
                    ORDER BY FV.FechaLimiteCorte,
                             FV.FacturaId
                ) AS rn
            FROM FacturasVencidas AS FV
            WHERE NOT EXISTS (
                SELECT
                    1
                FROM dbo.OrdenCorte AS OC
                WHERE OC.PropiedadId = FV.PropiedadId
                  AND OC.Estado      = 1  -- ya tiene una orden pendiente
            )
        )
        SELECT 
            FP.FacturaId,
            FP.PropiedadId,
            FP.FechaLimitePago,
            FP.FechaLimiteCorte,
            FP.TotalAPagarFinal
        INTO #Pendientes
        FROM FacturasPorPropiedad AS FP
        WHERE FP.rn = 1; -- solo la más vieja por propiedad

        /* ============================================================
           2. Variables
           ============================================================ */
        DECLARE 
            @PropiedadId   INT,
            @FacturaId     INT,
            @ValorReconex  DECIMAL(18,2);

        SELECT
            @ValorReconex = CC.ValorFijo
        FROM dbo.ConceptoCobro AS CC
        WHERE CC.CCId = @CCReconexionId;

        IF @ValorReconex IS NULL
        BEGIN
            RAISERROR(
                'No se encontró el concepto de reconexión (CCId = %d).',
                16,
                1,
                @CCReconexionId
            );
            RETURN;
        END;

        /* ============================================================
           3. ASESINAR CURSOR SI YA EXISTE
           ============================================================ */
        IF CURSOR_STATUS('local', 'C') >= -1
        BEGIN
            CLOSE C;
            DEALLOCATE C;
        END;

        /* ============================================================
           4. DECLARAR CURSOR
           ============================================================ */
        DECLARE C CURSOR LOCAL FOR
            SELECT
                PND.PropiedadId,
                PND.FacturaId
            FROM #Pendientes AS PND;

        OPEN C;

        FETCH NEXT FROM C
        INTO
            @PropiedadId,
            @FacturaId;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            /* Crear la orden de corte */
            INSERT INTO dbo.OrdenCorte (
                PropiedadId,
                FacturaId,
                FechaOrden,
                Estado
            )
            VALUES (
                @PropiedadId,
                @FacturaId,
                @FechaOperacion,
                1          -- 1 = pendiente
            );

            /* Insertar CC de reconexión en la misma factura */
            INSERT INTO dbo.FacturaDetalle (
                FacturaId,
                CCId,
                Monto
            )
            VALUES (
                @FacturaId,
                @CCReconexionId,
                @ValorReconex
            );

            UPDATE dbo.Factura
            SET TotalAPagarFinal = TotalAPagarFinal + @ValorReconex
            WHERE FacturaId = @FacturaId;

            FETCH NEXT FROM C
            INTO
                @PropiedadId,
                @FacturaId;
        END;

        CLOSE C;
        DEALLOCATE C;

        DROP TABLE #Pendientes;

        SET NOCOUNT OFF;
    END TRY
    BEGIN CATCH
        /* ============================================================
           Manejo de errores
           ============================================================ */
        IF CURSOR_STATUS('local', 'C') >= 0
        BEGIN
            CLOSE C;
            DEALLOCATE C;
        END;

        IF OBJECT_ID('tempdb..#Pendientes') IS NOT NULL
        BEGIN
            DROP TABLE #Pendientes;
        END;

        DECLARE
            @ErrorNumber    INT,
            @ErrorSeverity  INT,
            @ErrorState     INT,
            @ErrorMessage   NVARCHAR(4000),
            @ErrorProcedure NVARCHAR(128),
            @ErrorLine      INT;

        SELECT
            @ErrorNumber    = ERROR_NUMBER(),
            @ErrorSeverity  = ERROR_SEVERITY(),
            @ErrorState     = ERROR_STATE(),
            @ErrorMessage   = ERROR_MESSAGE(),
            @ErrorProcedure = ERROR_PROCEDURE(),
            @ErrorLine      = ERROR_LINE();

        SET NOCOUNT OFF;

        ;THROW @ErrorNumber, @ErrorMessage, @ErrorState;
    END CATCH;
END;
GO
