USE [Tarea3];
GO
/****** Object:  StoredProcedure [dbo].[SP_GenerarOrdenesReconexion]    Script Date: 27/11/2025 11:53:03 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE [dbo].[SP_GenerarOrdenesReconexion]
    @FechaOperacion DATE
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        /* ============================================================
           1. Candidatos a reconexión
           ============================================================ */
        IF OBJECT_ID('tempdb..#Candidatos') IS NOT NULL
        BEGIN
            DROP TABLE #Candidatos;
        END;

        ;WITH Candidatos AS (
            SELECT 
                OC.OrdenCorteId,
                OC.PropiedadId,
                OC.FacturaId
            FROM dbo.OrdenCorte AS OC
            INNER JOIN dbo.Factura AS F
                ON F.FacturaId = OC.FacturaId
            WHERE OC.Estado      = 1              -- corte pendiente
              AND OC.FechaOrden <= @FechaOperacion
              AND F.Estado       = 2              -- factura de esa orden YA pagada
              AND NOT EXISTS (                    -- aún no tiene orden de reconexión
                    SELECT
                        1
                    FROM dbo.OrdenReconexion AS ORC
                    WHERE ORC.OrdenCorteId = OC.OrdenCorteId
              )
              AND NOT EXISTS (                    -- NO hay otras facturas vencidas para corte
                    SELECT
                        1
                    FROM dbo.Factura AS F2
                    WHERE F2.PropiedadId      = OC.PropiedadId
                      AND F2.Estado           = 1
                      AND F2.FechaLimiteCorte < @FechaOperacion
              )
        )
        SELECT
            C.OrdenCorteId,
            C.PropiedadId,
            C.FacturaId
        INTO #Candidatos
        FROM Candidatos AS C;

        /* ============================================================
           2. Variables del cursor
           ============================================================ */
        DECLARE
            @OrdenCorteId INT;

        /* ============================================================
           3. Matar cursor si ya existe
           ============================================================ */
        IF CURSOR_STATUS('local', 'C') >= -1
        BEGIN
            CLOSE C;
            DEALLOCATE C;
        END;

        /* ============================================================
           4. Declarar cursor LOCAL
           ============================================================ */
        DECLARE C CURSOR LOCAL FOR
            SELECT
                CD.OrdenCorteId
            FROM #Candidatos AS CD;

        OPEN C;

        FETCH NEXT FROM C
        INTO @OrdenCorteId;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            /* Crear orden de reconexión */
            INSERT INTO dbo.OrdenReconexion (
                OrdenCorteId,
                FechaReconexion
            )
            VALUES (
                @OrdenCorteId,
                @FechaOperacion
            );

            /* Actualizar estado orden corte (2 = reconectado / atendido) */
            UPDATE dbo.OrdenCorte
            SET Estado = 2
            WHERE OrdenCorteId = @OrdenCorteId;

            FETCH NEXT FROM C
            INTO @OrdenCorteId;
        END;

        CLOSE C;
        DEALLOCATE C;

        DROP TABLE #Candidatos;

        SET NOCOUNT OFF;
    END TRY
    BEGIN CATCH
        /* ============================================================
           Manejo de errores
           ============================================================ */
        IF CURSOR_STATUS('local', 'C') >= 0
        BEGIN
            CLOSE C;
            DEALLOCATE C;
        END;

        IF OBJECT_ID('tempdb..#Candidatos') IS NOT NULL
        BEGIN
            DROP TABLE #Candidatos;
        END;

        DECLARE
            @ErrorNumber    INT,
            @ErrorSeverity  INT,
            @ErrorState     INT,
            @ErrorMessage   NVARCHAR(4000),
            @ErrorProcedure NVARCHAR(128),
            @ErrorLine      INT;

        SELECT
            @ErrorNumber    = ERROR_NUMBER(),
            @ErrorSeverity  = ERROR_SEVERITY(),
            @ErrorState     = ERROR_STATE(),
            @ErrorMessage   = ERROR_MESSAGE(),
            @ErrorProcedure = ERROR_PROCEDURE(),
            @ErrorLine      = ERROR_LINE();

        SET NOCOUNT OFF;

        ;THROW @ErrorNumber, @ErrorMessage, @ErrorState;
    END CATCH;
END;
GO
