USE [Tarea3];
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarCCPropiedadXML]    Script Date: 27/11/2025 10:28:48 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE [dbo].[SP_InsertarCCPropiedadXML]
    @XML XML
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        -------------------------------------------------------------
        -- 1. Extraer movimientos de CC por propiedad del XML
        --    (incluyendo la fecha de operación)
        -------------------------------------------------------------
        IF OBJECT_ID('tempdb..#MovCC') IS NOT NULL
        BEGIN
            DROP TABLE #MovCC;
        END;

        SELECT 
            FE.value('@fecha', 'DATE')                  AS FechaOperacion,
            P.PropiedadId                               AS PropiedadId,
            M.value('@idCC', 'INT')                     AS CCId,
            M.value('@tipoAsociacionId', 'INT')         AS TipoAsociacionId
        INTO #MovCC
        FROM @XML.nodes('/Operaciones/FechaOperacion') AS A(FE)
        CROSS APPLY FE.nodes('CCPropiedad/Movimiento') AS T(M)
        INNER JOIN dbo.Propiedad AS P
            ON P.NumeroFinca = M.value('@numeroFinca', 'VARCHAR(20)');

        -------------------------------------------------------------
        -- 2. Procesar DESASOCIACIONES (TipoAsociacionId = 2)
        --    Cerrar las filas activas correspondientes
        -------------------------------------------------------------
        ;WITH MovDesasocia AS (
            SELECT 
                M.PropiedadId,
                M.CCId,
                MIN(M.FechaOperacion) AS FechaOperacion
            FROM #MovCC AS M
            WHERE M.TipoAsociacionId = 2
            GROUP BY
                M.PropiedadId,
                M.CCId
        )
        UPDATE PC
        SET PC.Activo   = 0,
            PC.FechaFin = MD.FechaOperacion
        FROM dbo.PropiedadCC AS PC
        INNER JOIN MovDesasocia AS MD
            ON MD.PropiedadId = PC.PropiedadId
           AND MD.CCId        = PC.CCId
        WHERE PC.Activo   = 1
          AND PC.FechaFin IS NULL;

        -------------------------------------------------------------
        -- 3. Procesar ASOCIACIONES (TipoAsociacionId = 1)
        --    a) Cerrar asociación anterior si existía
        --    b) Insertar nueva fila activa
        -------------------------------------------------------------
        IF OBJECT_ID('tempdb..#MovAsocia') IS NOT NULL
        BEGIN
            DROP TABLE #MovAsocia;
        END;

        -- a) Construir tabla temporal con las asociaciones del XML
        SELECT 
            M.PropiedadId,
            M.CCId,
            MIN(M.FechaOperacion) AS FechaOperacion
        INTO #MovAsocia
        FROM #MovCC AS M
        WHERE M.TipoAsociacionId = 1
        GROUP BY
            M.PropiedadId,
            M.CCId;

        -- b) Cerrar asociación anterior (si había)
        UPDATE PC
        SET PC.Activo   = 0,
            PC.FechaFin = MA.FechaOperacion
        FROM dbo.PropiedadCC AS PC
        INNER JOIN #MovAsocia AS MA
            ON MA.PropiedadId = PC.PropiedadId
           AND MA.CCId        = PC.CCId
        WHERE PC.Activo   = 1
          AND PC.FechaFin IS NULL;

        -- c) Insertar nueva fila activa
        INSERT INTO dbo.PropiedadCC (
            PropiedadId,
            CCId,
            Activo,
            FechaInicio,
            FechaFin
        )
        SELECT 
            MA.PropiedadId,
            MA.CCId,
            1,
            MA.FechaOperacion,
            NULL
        FROM #MovAsocia AS MA
        WHERE NOT EXISTS (
            SELECT
                1
            FROM dbo.PropiedadCC AS PC
            WHERE PC.PropiedadId = MA.PropiedadId
              AND PC.CCId        = MA.CCId
              AND PC.FechaInicio = MA.FechaOperacion
        );

        SET NOCOUNT OFF;
    END TRY
    BEGIN CATCH
        -------------------------------------------------------------
        -- 4. Manejo de errores
        -------------------------------------------------------------
        DECLARE
            @ErrorNumber      INT,
            @ErrorSeverity    INT,
            @ErrorState       INT,
            @ErrorProcedure   NVARCHAR(128),
            @ErrorLine        INT,
            @ErrorMessage     NVARCHAR(4000);

        SELECT
            @ErrorNumber      = ERROR_NUMBER(),
            @ErrorSeverity    = ERROR_SEVERITY(),
            @ErrorState       = ERROR_STATE(),
            @ErrorProcedure   = ERROR_PROCEDURE(),
            @ErrorLine        = ERROR_LINE(),
            @ErrorMessage     = ERROR_MESSAGE();

        -- Aquí podrías registrar el error en una tabla de log si el profe lo pide

        SET NOCOUNT OFF;

        ;THROW @ErrorNumber, @ErrorMessage, @ErrorState;
    END CATCH;
END;
GO
