USE [Tarea3];
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarPersonasXML]    Script Date: 27/11/2025 10:28:11 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE [dbo].[SP_InsertarPersonasXML]
    @XML XML
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -------------------------------------------------------------
        -- 1. Extraer personas del XML
        -------------------------------------------------------------
        ;WITH PersonasXML AS (
            SELECT
                P.value('@valorDocumento', 'VARCHAR(20)')   AS ValorDocumento,
                P.value('@nombre',         'VARCHAR(100)')  AS Nombre,
                P.value('@email',          'VARCHAR(100)')  AS Email,
                P.value('@telefono',       'VARCHAR(20)')   AS Telefono
            FROM @XML.nodes('/Operaciones/FechaOperacion/Personas/Persona') AS T(P)
        )
        -------------------------------------------------------------
        -- 2. Insertar solo personas nuevas (por ValorDocumento)
        -------------------------------------------------------------
        INSERT INTO dbo.Persona (
            ValorDocumento,
            Nombre,
            Email,
            Telefono
        )
        SELECT
            X.ValorDocumento,
            X.Nombre,
            X.Email,
            X.Telefono
        FROM PersonasXML AS X
        WHERE X.ValorDocumento NOT IN (
            SELECT PBD.ValorDocumento
            FROM dbo.Persona AS PBD
        );

        SET NOCOUNT OFF;
    END TRY
    BEGIN CATCH
        -------------------------------------------------------------
        -- Manejo de errores
        -------------------------------------------------------------
        DECLARE
            @ErrorNumber      INT,
            @ErrorSeverity    INT,
            @ErrorState       INT,
            @ErrorProcedure   NVARCHAR(128),
            @ErrorLine        INT,
            @ErrorMessage     NVARCHAR(4000);

        SELECT
            @ErrorNumber      = ERROR_NUMBER(),
            @ErrorSeverity    = ERROR_SEVERITY(),
            @ErrorState       = ERROR_STATE(),
            @ErrorProcedure   = ERROR_PROCEDURE(),
            @ErrorLine        = ERROR_LINE(),
            @ErrorMessage     = ERROR_MESSAGE();

        -- Aquí podrías insertar en una tabla de log si el profe lo pide

        SET NOCOUNT OFF;

        -- Re-lanzar el error original con su código
        ;THROW @ErrorNumber, @ErrorMessage, @ErrorState;
    END CATCH;
END;
GO
