USE [Tarea3];
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarPropiedadesXML]    Script Date: 27/11/2025 10:28:17 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE [dbo].[SP_InsertarPropiedadesXML]
    @XML XML
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        -------------------------------------------------------------
        -- 1. Obtener la fecha de operación (por si se ocupa luego)
        -------------------------------------------------------------
        DECLARE @FechaOperacion DATE;

        SELECT TOP (1)
            @FechaOperacion = F.value('@fecha', 'DATE')
        FROM @XML.nodes('/Operaciones/FechaOperacion') AS T(F);

        -------------------------------------------------------------
        -- 2. Insertar propiedades nuevas a partir del XML
        -------------------------------------------------------------
        INSERT INTO dbo.Propiedad (
            NumeroFinca,
            MedidorId,
            MetrosCuadrados,
            TipoUsoId,
            TipoZonaId,
            ValorFiscal,
            FechaRegistro
        )
        SELECT
            P.value('@numeroFinca',      'VARCHAR(20)')    AS NumeroFinca,
            M.MedidorId,
            P.value('@metrosCuadrados',  'DECIMAL(10,2)')  AS MetrosCuadrados,
            P.value('@tipoUsoId',        'INT')            AS TipoUsoId,
            P.value('@tipoZonaId',       'INT')            AS TipoZonaId,
            P.value('@valorFiscal',      'DECIMAL(18,2)')  AS ValorFiscal,
            P.value('@fechaRegistro',    'DATE')           AS FechaRegistro
        FROM @XML.nodes('/Operaciones/FechaOperacion/Propiedades/Propiedad') AS X(P)
        INNER JOIN dbo.Medidor AS M
            ON M.NumeroMedidor = P.value('@numeroMedidor', 'VARCHAR(20)')
        WHERE NOT EXISTS (
            SELECT
                1
            FROM dbo.Propiedad AS PP
            WHERE PP.NumeroFinca = P.value('@numeroFinca', 'VARCHAR(20)')
        );

        SET NOCOUNT OFF;
    END TRY
    BEGIN CATCH
        -------------------------------------------------------------
        -- 3. Manejo de errores
        -------------------------------------------------------------
        DECLARE
            @ErrorNumber      INT,
            @ErrorSeverity    INT,
            @ErrorState       INT,
            @ErrorProcedure   NVARCHAR(128),
            @ErrorLine        INT,
            @ErrorMessage     NVARCHAR(4000);

        SELECT
            @ErrorNumber      = ERROR_NUMBER(),
            @ErrorSeverity    = ERROR_SEVERITY(),
            @ErrorState       = ERROR_STATE(),
            @ErrorProcedure   = ERROR_PROCEDURE(),
            @ErrorLine        = ERROR_LINE(),
            @ErrorMessage     = ERROR_MESSAGE();

        -- Aquí podrías guardar el error en una tabla de log si lo requieren

        SET NOCOUNT OFF;

        ;THROW @ErrorNumber, @ErrorMessage, @ErrorState;
    END CATCH;
END;
GO
