USE [Tarea3];
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarPropiedadPersonaXML]    Script Date: 27/11/2025 10:28:25 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE [dbo].[SP_InsertarPropiedadPersonaXML]
    @XML XML
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        -------------------------------------------------------------
        -- 1. Preparar tabla temporal con movimientos de PropiedadPersona
        -------------------------------------------------------------
        IF OBJECT_ID('tempdb..#X_PP') IS NOT NULL
        BEGIN
            DROP TABLE #X_PP;
        END;

        ;WITH CTE_Movimientos AS (
            SELECT
                FE.value('@fecha',           'DATE')         AS FechaOperacion,
                M.value('@valorDocumento',   'VARCHAR(20)')  AS ValorDocumento,
                M.value('@numeroFinca',      'VARCHAR(20)')  AS NumeroFinca,
                M.value('@tipoAsociacionId', 'INT')          AS TipoAsociacionId
            FROM @XML.nodes('/Operaciones/FechaOperacion') AS A(FE)
            CROSS APPLY FE.nodes('PropiedadPersona/Movimiento') AS B(M)
        )
        SELECT
            C.FechaOperacion,
            C.ValorDocumento,
            C.NumeroFinca,
            C.TipoAsociacionId
        INTO #X_PP
        FROM CTE_Movimientos AS C;

        /* ============================================================
           2. ASOCIAR PERSONA (TipoAsociacionId = 1)
           ============================================================ */
        INSERT INTO dbo.PropiedadPersona (
            PropiedadId,
            ValorDocumento,
            TipoAsociacionId,
            FechaInicio,
            FechaFin
        )
        SELECT
            P.PropiedadId,
            X.ValorDocumento,
            X.TipoAsociacionId,
            X.FechaOperacion,
            NULL
        FROM #X_PP AS X
        INNER JOIN dbo.Propiedad AS P
            ON P.NumeroFinca = X.NumeroFinca
        WHERE X.TipoAsociacionId = 1
          AND NOT EXISTS (
                SELECT
                    1
                FROM dbo.PropiedadPersona AS PP
                WHERE PP.PropiedadId     = P.PropiedadId
                  AND PP.ValorDocumento  = X.ValorDocumento
                  AND PP.FechaFin        IS NULL
          );

        /* ============================================================
           3. DESASOCIAR PERSONA (TipoAsociacionId = 2)
           ============================================================ */
        UPDATE PP
        SET PP.FechaFin = X.FechaOperacion
        FROM dbo.PropiedadPersona AS PP
        INNER JOIN #X_PP AS X
            ON PP.ValorDocumento = X.ValorDocumento
           AND PP.FechaFin       IS NULL
           AND X.TipoAsociacionId = 2
        INNER JOIN dbo.Propiedad AS P
            ON P.PropiedadId = PP.PropiedadId
           AND P.NumeroFinca = X.NumeroFinca;

        SET NOCOUNT OFF;
    END TRY
    BEGIN CATCH
        -------------------------------------------------------------
        -- 4. Manejo de errores
        -------------------------------------------------------------
        DECLARE
            @ErrorNumber      INT,
            @ErrorSeverity    INT,
            @ErrorState       INT,
            @ErrorProcedure   NVARCHAR(128),
            @ErrorLine        INT,
            @ErrorMessage     NVARCHAR(4000);

        SELECT
            @ErrorNumber      = ERROR_NUMBER(),
            @ErrorSeverity    = ERROR_SEVERITY(),
            @ErrorState       = ERROR_STATE(),
            @ErrorProcedure   = ERROR_PROCEDURE(),
            @ErrorLine        = ERROR_LINE(),
            @ErrorMessage     = ERROR_MESSAGE();

        -- Aquí podrías registrar el error en una tabla de log si lo requieren

        SET NOCOUNT OFF;

        ;THROW @ErrorNumber, @ErrorMessage, @ErrorState;
    END CATCH;
END;
GO
