USE [Tarea3];
GO

ALTER PROCEDURE [dbo].[SP_ProcesarXMLCompleto]
    @XML XML
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRAN;

        /* ============================================================
           0. Construir lista de fechas de operación (orden ascendente)
           ============================================================ */
        IF OBJECT_ID('tempdb..#FechasOp') IS NOT NULL
        BEGIN
            DROP TABLE #FechasOp;
        END;

        ;WITH Fechas AS (
            SELECT DISTINCT
                F.value('@fecha', 'DATE') AS FechaOperacion
            FROM @XML.nodes('/Operaciones/FechaOperacion') AS T(F)
        )
        SELECT
            FCH.FechaOperacion
        INTO #FechasOp
        FROM Fechas AS FCH
        ORDER BY
            FCH.FechaOperacion;

        DECLARE
            @FechaOperacion  DATE,
            @XmlFecha        XML;

        /* ============================================================
           1. Cursor por fecha de operación
           ============================================================ */
        DECLARE C CURSOR LOCAL FOR
            SELECT
                FO.FechaOperacion
            FROM #FechasOp AS FO
            ORDER BY
                FO.FechaOperacion;

        OPEN C;

        FETCH NEXT FROM C
        INTO @FechaOperacion;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            /* --------------------------------------------------------
               1.1 Sub-XML SOLO con esa FechaOperacion,
                   manteniendo raíz <Operaciones>
               -------------------------------------------------------- */
            SET @XmlFecha = @XML.query(
                '(<Operaciones>{
                        /Operaciones/FechaOperacion[@fecha = sql:variable("@FechaOperacion")]
                  }</Operaciones>)'
            );

            /* =====================================================
               Orden según enunciado (por ESA fecha):
               1) Nuevos propietarios
               2) Nuevas propiedades
               3) Asociación / desasociación Propiedad-Persona
               6) Cambios de valor de propiedad
               7) Lecturas de medidor
               8) Pagos
               9) Reconexiones
               10) Generar facturas
               11) Generar cortes de agua
               ===================================================== */

            -- 1) Personas
            EXEC dbo.SP_InsertarPersonasXML
                @XML = @XmlFecha;

            -- 2) Propiedades (AHORA con raíz <Operaciones>, igual que espera el SP)
            EXEC dbo.SP_InsertarPropiedadesXML
                @XML = @XmlFecha;

            -- 3) Asociación / desasociación Propiedad-Persona
            EXEC dbo.SP_InsertarPropiedadPersonaXML
                @XML = @XmlFecha;

            -- 6) Cambios de valor de propiedad
            EXEC dbo.SP_ProcesarPropiedadCambioXML
                @XML = @XmlFecha;

            -- 7) Lecturas de medidor
            EXEC dbo.SP_ProcesarLecturasXML
                @XML = @XmlFecha;

            -- 8) Pagos
            EXEC dbo.SP_ProcesarPagosXML
                @XML = @XmlFecha;

            -- 9) Reconexiones (solo fecha)
            EXEC dbo.SP_GenerarOrdenesReconexion
                @FechaOperacion = @FechaOperacion;

            -- 10) Generar facturas
            EXEC dbo.SP_GenerarFacturas
                @FechaOperacion = @FechaOperacion;

            -- 11) Generar órdenes de corte
            EXEC dbo.SP_GenerarOrdenesCorte
                @FechaOperacion = @FechaOperacion;

            FETCH NEXT FROM C
            INTO @FechaOperacion;
        END;

        CLOSE C;
        DEALLOCATE C;

        DROP TABLE #FechasOp;

        SET NOCOUNT OFF;
        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'C') >= 0
        BEGIN
            CLOSE C;
            DEALLOCATE C;
        END;

        IF OBJECT_ID('tempdb..#FechasOp') IS NOT NULL
        BEGIN
            DROP TABLE #FechasOp;
        END;

        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRAN;
        END;

        DECLARE
            @ErrorNumber    INT,
            @ErrorSeverity  INT,
            @ErrorState     INT,
            @ErrorMessage   NVARCHAR(4000);

        SELECT
            @ErrorNumber    = ERROR_NUMBER(),
            @ErrorSeverity  = ERROR_SEVERITY(),
            @ErrorState     = ERROR_STATE(),
            @ErrorMessage   = ERROR_MESSAGE();

        SET NOCOUNT OFF;
        ;THROW @ErrorNumber, @ErrorMessage, @ErrorState;
    END CATCH;
END;
GO
