USE [Tarea3];
GO
/****** Object:  StoredProcedure [dbo].[SP_ProcesarPropiedadCambioXML]    Script Date: 27/11/2025 10:29:06 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE [dbo].[SP_ProcesarPropiedadCambioXML]
    @XML XML
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        /* ============================================================
           1. Extraer FechaOperacion + Cambios de propiedad
           ============================================================ */
        ;WITH X AS (
            SELECT
                FE.value('@fecha',              'DATE')          AS FechaOperacion,
                C.value('@numeroFinca',        'VARCHAR(20)')    AS NumeroFinca,
                C.value('@nuevoValor',         'DECIMAL(18,2)')  AS NuevoValor
            FROM @XML.nodes('/Operaciones/FechaOperacion') AS F(FE)
            CROSS APPLY FE.nodes('PropiedadCambio/Cambio') AS T(C)
        ),
        UltimoCambio AS (
            SELECT
                XC.NumeroFinca,
                XC.NuevoValor
            FROM (
                SELECT
                    X.NumeroFinca,
                    X.NuevoValor,
                    ROW_NUMBER() OVER (
                        PARTITION BY X.NumeroFinca
                        ORDER BY X.FechaOperacion DESC
                    ) AS rn
                FROM X
            ) AS XC
            WHERE XC.rn = 1
        )
        /* ============================================================
           2. Aplicar cambios al valor fiscal
           ============================================================ */
        UPDATE P
        SET P.ValorFiscal = U.NuevoValor
        FROM dbo.Propiedad AS P
        INNER JOIN UltimoCambio AS U
            ON U.NumeroFinca = P.NumeroFinca;

        SET NOCOUNT OFF;
    END TRY
    BEGIN CATCH
        /* ============================================================
           3. Manejo de errores
           ============================================================ */
        DECLARE
            @ErrorNumber      INT,
            @ErrorSeverity    INT,
            @ErrorState       INT,
            @ErrorProcedure   NVARCHAR(128),
            @ErrorLine        INT,
            @ErrorMessage     NVARCHAR(4000);

        SELECT
            @ErrorNumber      = ERROR_NUMBER(),
            @ErrorSeverity    = ERROR_SEVERITY(),
            @ErrorState       = ERROR_STATE(),
            @ErrorProcedure   = ERROR_PROCEDURE(),
            @ErrorLine        = ERROR_LINE(),
            @ErrorMessage     = ERROR_MESSAGE();

        -- Aquí podrías registrar el error en una tabla de log si lo requieren

        SET NOCOUNT OFF;

        ;THROW @ErrorNumber, @ErrorMessage, @ErrorState;
    END CATCH;
END;
GO
