USE [Tarea3];
GO
/****** Object:  StoredProcedure [dbo].[SP_ProcesarPagosXML]    Script Date: 27/11/2025 10:29:14 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE [dbo].[SP_ProcesarPagosXML]
    @XML XML
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRAN;

        /* ============================================================
           1. Extraer pagos del XML a tabla temporal
           ============================================================ */
        IF OBJECT_ID('tempdb..#Pagos') IS NOT NULL
        BEGIN
            DROP TABLE #Pagos;
        END;

        ;WITH X AS (
            SELECT
                FE.value('@fecha',             'DATE')           AS FechaOperacion,
                P.value('@numeroFinca',        'VARCHAR(20)')    AS NumeroFinca,
                P.value('@tipoMedioPagoId',    'INT')            AS TipoMedioPagoId,
                P.value('@numeroReferencia',   'VARCHAR(50)')    AS NumeroReferencia
            FROM @XML.nodes('//FechaOperacion') AS F(FE)
            CROSS APPLY FE.nodes('Pagos/Pago') AS T(P)
        )
        SELECT
            X.FechaOperacion,
            X.NumeroFinca,
            X.TipoMedioPagoId,
            X.NumeroReferencia
        INTO #Pagos
        FROM X;

        /* ============================================================
           2. Obtener CC para intereses moratorios
           ============================================================ */
        DECLARE @CCInteresMoratorio INT;

        SELECT
            @CCInteresMoratorio = PS.ValorInt
        FROM dbo.ParametrosSistema AS PS
        WHERE PS.Nombre = 'IdCCInteresMoratorio';

        /* ============================================================
           3. Variables del cursor
           ============================================================ */
        DECLARE
            @FechaOperacion     DATE,
            @NumeroFinca        VARCHAR(20),
            @TipoMedioPagoId    INT,
            @NumeroReferencia   VARCHAR(50),

            @PropiedadId        INT,
            @FacturaId          INT,
            @FechaLimitePago    DATE,
            @TotalAPagarFinal   DECIMAL(18,2),
            @DiasMora           INT,
            @Interes            DECIMAL(18,4),

            @PagoId             INT;

        /* ============================================================
           3.0. "Asesinar" cursor si ya existe
           ============================================================ */
        IF CURSOR_STATUS('local', 'C') >= -1
        BEGIN
            CLOSE C;
            DEALLOCATE C;
        END;

        /* ============================================================
           3.1 Declarar cursor de pagos
           ============================================================ */
        DECLARE C CURSOR LOCAL FOR
            SELECT
                PGS.FechaOperacion,
                PGS.NumeroFinca,
                PGS.TipoMedioPagoId,
                PGS.NumeroReferencia
            FROM #Pagos AS PGS;

        OPEN C;

        FETCH NEXT FROM C
        INTO
            @FechaOperacion,
            @NumeroFinca,
            @TipoMedioPagoId,
            @NumeroReferencia;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            /* --------------------------------------------------------
               Evitar pagos duplicados
               -------------------------------------------------------- */
            IF EXISTS (
                SELECT
                    1
                FROM dbo.Pago AS PG
                WHERE PG.NumeroReferencia = @NumeroReferencia
            )
            BEGIN
                FETCH NEXT FROM C
                INTO
                    @FechaOperacion,
                    @NumeroFinca,
                    @TipoMedioPagoId,
                    @NumeroReferencia;
                CONTINUE;
            END;

            /* --------------------------------------------------------
               Obtener propiedad
               -------------------------------------------------------- */
            SELECT
                @PropiedadId = PR.PropiedadId
            FROM dbo.Propiedad AS PR
            WHERE PR.NumeroFinca = @NumeroFinca;

            IF @PropiedadId IS NULL
            BEGIN
                FETCH NEXT FROM C
                INTO
                    @FechaOperacion,
                    @NumeroFinca,
                    @TipoMedioPagoId,
                    @NumeroReferencia;
                CONTINUE;
            END;

            /* --------------------------------------------------------
               Obtener factura pendiente más vieja
               -------------------------------------------------------- */
            SELECT TOP (1)
                @FacturaId        = FT.FacturaId,
                @FechaLimitePago  = FT.FechaLimitePago,
                @TotalAPagarFinal = FT.TotalAPagarFinal
            FROM dbo.Factura AS FT
            WHERE FT.PropiedadId = @PropiedadId
              AND FT.Estado      = 1          -- pendiente
            ORDER BY
                FT.FechaLimitePago,
                FT.FacturaId;

            IF @FacturaId IS NULL
            BEGIN
                FETCH NEXT FROM C
                INTO
                    @FechaOperacion,
                    @NumeroFinca,
                    @TipoMedioPagoId,
                    @NumeroReferencia;
                CONTINUE;
            END;

            /* --------------------------------------------------------
               Calcular intereses moratorios
               -------------------------------------------------------- */
            SET @DiasMora = DATEDIFF(DAY, @FechaLimitePago, @FechaOperacion);

            IF @DiasMora > 0
               AND @CCInteresMoratorio IS NOT NULL
            BEGIN
                -- Fórmula del enunciado: Total * 0.04 / 30 * días de mora
                SET @Interes = @TotalAPagarFinal * 0.04 / 30.0 * @DiasMora;

                IF @Interes > 0
                BEGIN
                    INSERT INTO dbo.FacturaDetalle (
                        FacturaId,
                        CCId,
                        Monto
                    )
                    VALUES (
                        @FacturaId,
                        @CCInteresMoratorio,
                        @Interes
                    );

                    UPDATE dbo.Factura
                    SET TotalAPagarFinal = TotalAPagarFinal + @Interes
                    WHERE FacturaId = @FacturaId;

                    SELECT
                        @TotalAPagarFinal = FT.TotalAPagarFinal
                    FROM dbo.Factura AS FT
                    WHERE FT.FacturaId = @FacturaId;
                END;
            END;

            /* --------------------------------------------------------
               Registrar el pago
               -------------------------------------------------------- */
            INSERT INTO dbo.Pago (
                FacturaId,
                FechaPago,
                TipoMedioPagoId,
                NumeroReferencia,
                MontoPagado
            )
            VALUES (
                @FacturaId,
                @FechaOperacion,
                @TipoMedioPagoId,
                @NumeroReferencia,
                @TotalAPagarFinal
            );

            SET @PagoId = SCOPE_IDENTITY();

            INSERT INTO dbo.ComprobantePago (
                PagoId,
                Fecha,
                NumeroReferencia,
                Monto
            )
            VALUES (
                @PagoId,
                @FechaOperacion,
                @NumeroReferencia,
                @TotalAPagarFinal
            );

            /* --------------------------------------------------------
               Marcar factura como pagada
               -------------------------------------------------------- */
            UPDATE dbo.Factura
            SET Estado = 2
            WHERE FacturaId = @FacturaId;

            FETCH NEXT FROM C
            INTO
                @FechaOperacion,
                @NumeroFinca,
                @TipoMedioPagoId,
                @NumeroReferencia;
        END;

        CLOSE C;
        DEALLOCATE C;

        DROP TABLE #Pagos;

        SET NOCOUNT OFF;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRAN;
        END;

        -- Manejo de errores con re-lanzamiento
        DECLARE
            @ErrorNumber      INT,
            @ErrorSeverity    INT,
            @ErrorState       INT,
            @ErrorProcedure   NVARCHAR(128),
            @ErrorLine        INT,
            @ErrorMessage     NVARCHAR(4000);

        SELECT
            @ErrorNumber      = ERROR_NUMBER(),
            @ErrorSeverity    = ERROR_SEVERITY(),
            @ErrorState       = ERROR_STATE(),
            @ErrorProcedure   = ERROR_PROCEDURE(),
            @ErrorLine        = ERROR_LINE(),
            @ErrorMessage     = ERROR_MESSAGE();

        SET NOCOUNT OFF;

        ;THROW @ErrorNumber, @ErrorMessage, @ErrorState;
    END CATCH;
END;
GO
