USE [Tarea3];
GO
/****** Object:  StoredProcedure [dbo].[SP_ProcesarLecturasXML]    Script Date: 27/11/2025 10:28:59 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE [dbo].[SP_ProcesarLecturasXML]
    @XML XML
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        /* ============================================================
           1. Extraer FechaOperacion + Lecturas a tabla temporal
           ============================================================ */
        IF OBJECT_ID('tempdb..#Lecturas') IS NOT NULL
        BEGIN
            DROP TABLE #Lecturas;
        END;

        ;WITH X AS (
            SELECT
                FE.value('@fecha',          'DATE')          AS FechaOperacion,
                L.value('@numeroMedidor',   'VARCHAR(20)')   AS NumeroMedidor,
                L.value('@tipoMovimientoId','INT')           AS TipoMovimientoId,
                L.value('@valor',           'DECIMAL(18,2)') AS Valor
            FROM @XML.nodes('/Operaciones/FechaOperacion') AS F(FE)
            CROSS APPLY FE.nodes('LecturasMedidor/Lectura') AS T(L)
        )
        SELECT
            X.FechaOperacion,
            X.NumeroMedidor,
            X.TipoMovimientoId,
            X.Valor
        INTO #Lecturas
        FROM X;

        /* ============================================================
           2. Variables de trabajo
           ============================================================ */
        DECLARE
            @NumeroMedidor     VARCHAR(20),
            @TipoMovimientoId  INT,
            @Valor             DECIMAL(18,2),
            @FechaOperacion    DATE,
            @MedidorId         INT,
            @SaldoActual       DECIMAL(18,2),
            @MontoMovimiento   DECIMAL(18,2);

        /* ============================================================
           3. Cursor sobre las lecturas
           ============================================================ */
        DECLARE C CURSOR LOCAL FAST_FORWARD FOR
            SELECT
                L.NumeroMedidor,
                L.TipoMovimientoId,
                L.Valor,
                L.FechaOperacion
            FROM #Lecturas AS L;

        OPEN C;

        FETCH NEXT FROM C
        INTO
            @NumeroMedidor,
            @TipoMovimientoId,
            @Valor,
            @FechaOperacion;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            ---------------------------------------------------------
            -- 3.1 Buscar el medidor
            ---------------------------------------------------------
            SELECT
                @MedidorId   = M.MedidorId,
                @SaldoActual = M.SaldoM3
            FROM dbo.Medidor AS M
            WHERE M.NumeroMedidor = @NumeroMedidor;

            -- Si el medidor no existe, no se realiza ninguna acción
            IF @MedidorId IS NOT NULL
            BEGIN
                /* ====================================================
                   Caso 1: Lectura (TipoMovimientoId = 1)
                   ==================================================== */
                IF @TipoMovimientoId = 1
                BEGIN
                    SET @MontoMovimiento = @Valor - @SaldoActual;

                    INSERT INTO dbo.MovimientoMedidor (
                        MedidorId,
                        TipoMovimientoId,
                        FechaOperacion,
                        Valor
                    )
                    VALUES (
                        @MedidorId,
                        1,
                        @FechaOperacion,
                        @MontoMovimiento
                    );

                    UPDATE dbo.Medidor
                    SET SaldoM3 = @Valor
                    WHERE MedidorId = @MedidorId;
                END
                /* ====================================================
                   Caso 2: Ajuste Crédito (TipoMovimientoId = 2)
                   ==================================================== */
                ELSE IF @TipoMovimientoId = 2
                BEGIN
                    SET @MontoMovimiento = -@Valor;

                    INSERT INTO dbo.MovimientoMedidor (
                        MedidorId,
                        TipoMovimientoId,
                        FechaOperacion,
                        Valor
                    )
                    VALUES (
                        @MedidorId,
                        2,
                        @FechaOperacion,
                        @MontoMovimiento
                    );

                    UPDATE dbo.Medidor
                    SET SaldoM3 = SaldoM3 - @Valor
                    WHERE MedidorId = @MedidorId;
                END
                /* ====================================================
                   Caso 3: Ajuste Débito (TipoMovimientoId = 3)
                   ==================================================== */
                ELSE IF @TipoMovimientoId = 3
                BEGIN
                    SET @MontoMovimiento = @Valor;

                    INSERT INTO dbo.MovimientoMedidor (
                        MedidorId,
                        TipoMovimientoId,
                        FechaOperacion,
                        Valor
                    )
                    VALUES (
                        @MedidorId,
                        3,
                        @FechaOperacion,
                        @MontoMovimiento
                    );

                    UPDATE dbo.Medidor
                    SET SaldoM3 = SaldoM3 + @Valor
                    WHERE MedidorId = @MedidorId;
                END
            END;

            FETCH NEXT FROM C
            INTO
                @NumeroMedidor,
                @TipoMovimientoId,
                @Valor,
                @FechaOperacion;
        END;

        CLOSE C;
        DEALLOCATE C;

        DROP TABLE #Lecturas;

        SET NOCOUNT OFF;
    END TRY
    BEGIN CATCH
        /* ============================================================
           4. Manejo de errores
           ============================================================ */
        DECLARE
            @ErrorNumber      INT,
            @ErrorSeverity    INT,
            @ErrorState       INT,
            @ErrorProcedure   NVARCHAR(128),
            @ErrorLine        INT,
            @ErrorMessage     NVARCHAR(4000);

        SELECT
            @ErrorNumber      = ERROR_NUMBER(),
            @ErrorSeverity    = ERROR_SEVERITY(),
            @ErrorState       = ERROR_STATE(),
            @ErrorProcedure   = ERROR_PROCEDURE(),
            @ErrorLine        = ERROR_LINE(),
            @ErrorMessage     = ERROR_MESSAGE();

        -- Aquí podrías registrar el error en una tabla de log si lo requieren

        SET NOCOUNT OFF;

        ;THROW @ErrorNumber, @ErrorMessage, @ErrorState;
    END CATCH;
END;
GO
